<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nigerAplic.nigeraplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NigerAplication">

        <activity android:name=".AgregarProductoActivity" android:exported="false" />
        <activity android:name=".DetalleProductoActivity" android:exported="false" />
        <activity android:name=".ClientesActivity" android:exported="false" />
        <activity android:name=".FormClienteActivity" android:exported="false" />
        <activity android:name=".DescargasActivity" android:exported="false" />
        <activity android:name=".CarritoActivity" android:exported="false" />
        <activity android:name=".InventarioActivity" android:exported="false" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
